html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.flex-container {
  display: flex;
  background-color: black;
  height: 200px;
  justify-content: space-around;
}

.column {
  display: flex;
}

span {
  border-radius: 50%;
  background-color: black;
  height: 25px;
  width: 25px;

}


.first-face, .second-face, .third-face {
  display: flex;
  background-color: white;
  border-radius: 5%;
  padding: 0.5%;
  margin: 2%;
  height: 150px;
  width: 150px;
}

.fourth-face, .fifth-face, .sixth-face {
  display: flex;
  background-color: white;
  border-radius: 5%;
  padding: 0.5%;
  margin: 2%;
  height: 150px;
  width: 150px;
}

/* pip placement with flexy flex flex */
.first-face {
  justify-content: center;
  align-items: center;
}

.second-face {
  flex-direction: column;
  justify-content: space-between;
}

.second-face .pip:nth-child(2) {
  align-self: flex-end;
}

/*third-face*/
.third-face {
  justify-content: space-between;
}

.third-face .pip:nth-child(2) {
  align-self: center;
}

.third-face .pip:nth-child(3) {
  align-self: flex-end;
}


/*fourth-face*/
.fourth-face  {
  justify-content: space-between;
}

.fourth-face .column:nth-child(1) {
  flex-direction: column;
}

.fourth-face .column:nth-child(2) {
  flex-direction: column;
}

.fourth-face .column:nth-child(1) {
  justify-content: space-between;

}

.fourth-face .column:nth-child(2) {
  justify-content: space-between;
}


/*fifth-space*/
.fifth-face  {
  justify-content: space-between;
}

.fifth-face .column:nth-child(1), .fifth-face .column:nth-child(3) {
  flex-direction: column;
}

.fifth-face .column:nth-child(2) {
  align-items: center;
}

.fifth-face .column:nth-child(1), .fifth-face .column:nth-child(3) {
  justify-content: space-between;
}

/*sixth-face*/
.sixth-face .column {
  flex-direction: column;
  justify-content: space-between;
}

.sixth-face {
  justify-content: space-between;
}
